Ireland cancels visa requirements for Ukrainians
20220227
https://www.bignewsnetwork.com/news/272342950/ireland-cancels-visa-requirements-for-ukrainians
"There will be a significant migration issue arising from these attacks, we will have to play our part in helping those who will have to flee Ukraine and we do that in solidarity with our European colleagues," Martin said on Thursday.
Ireland had previously advised Irish citizens in Ukraine and Ukrainians against traveling to Ireland, with the official travel advice being to "shelter in place" as they monitored ongoing tensions with Russia, according to the government's travel site.
Visa requirements for Ukrainians traveling to Ireland are being lifted in a show of "solidarity", the country's Department of Justice announced on Friday in an emergency order.
The emergency measure applies to all Ukrainians who wish to travel to Ireland amid the conflict.
Irish Justice Minister Helen McEntee said she is "appalled by the Russian invasion of Ukraine" and said the emergency order will "assist" Irish citizens and their families in Ukraine, which has faced attacks from the Russian military in recent days.
Citizens who wished to leave were told to leave only if it was safe to do so based on their "location and prevailing circumstance" in a travel advisory updated the day before McEntee's new announcement.
Irish Taoiseach Micheal Martin originally suggested on Thursday, however, that the lifting of visa requirements would be forthcoming in light of Moscow's military action in Ukraine. Russian President Vladimir Putin launched an offensive in Ukraine on Thursday, saying the goal was demilitarization and denazification of the country.
